@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @page {
        size: auto;
        margin: 25mm 25mm 25mm 25mm;
    }
    
    html {
        @apply text-gray-800
    }
}

@layer utilities {
  preserve-3d {
    transform-style: preserve-3d;
  }
  word-wrap {
    word-wrap: break-word;
  }
}