---
import Layout from "../layouts/Layout.astro";
import CardList from "../components/CardList.astro";
---

<Layout title="Paper 3 terminology">
  <main class="mx-auto max-w-3xl py-5">
    <h1 class="text-6xl mt-24 mb-12">
      <span
        class="font-semibold drop-shadow bg-gradient-to-tr text-transparent from-slate-900 to-slate-600 bg-clip-text"
        >Paper 3:</span
      > terminology
    </h1>
    <CardList/>
  </main>
</Layout>
