---
import "solid-js";
import Card from "./Card";
import {Content as BehaviouralData} from "./content/behaviouralData.md";
import {Content as CloudDeliveryModels} from "./content/cloudDeliveryModels.md";
import {Content as CloudDeploymentModels} from "./content/cloudDeploymentModels.md";
import {Content as CollaborativeFiltering} from "./content/collaborativeFiltering.md";
import {Content as ContentBasedFiltering} from "./content/contentBasedFiltering.md";
import {Content as CostFunction} from "./content/costFunction.md";
import {Content as FMeasure} from "./content/fMeasure.md";
import {Content as Hyperparameter} from "./content/hyperparameter.md";
import {Content as KNN} from "./content/kNN.md";
import {Content as MatrixFactorisation} from "./content/matrixFactorisation.md";
import {Content as MeanAbsoluteError} from "./content/meanAbsoluteError.md";
import {Content as Overfitting} from "./content/overfitting.md";
import {Content as PopularityBias} from "./content/popularityBias.md";
import {Content as Precision} from "./content/precision.md";
import {Content as Recall} from "./content/recall.md";
import {Content as ReinforcementLearning} from "./content/reinforcementLearning.md";
import {Content as RightToAnonymity} from "./content/rightToAnonymity.md";
import {Content as RightToPrivacy} from "./content/rightToPrivacy.md";
import {Content as RMSE} from "./content/RMSE.md";
import {Content as StochasticGradientDescent} from "./content/stochasticGradientDescent.md";
import {Content as TrainingData} from "./content/trainingData.md";
---

<div class="grid grid-cols-3 gap-7" role="list">
  <Card
    title="Behavioural data"
    breif="Learn how Astro works and explore the official API docs."
   client:load>
    <BehaviouralData/>
  </Card>

  <Card
    title="Cloud delivery models"
    breif="Learn how Astro works and explore the official API docs."
    client:load
  >
    <CloudDeliveryModels/>
  </Card>

  <Card
    title="Cloud deployment models"
    breif="Supercharge your project with new frameworks and libraries."
    client:load
  >
    <CloudDeploymentModels/>
  </Card>

  <Card
    title="Collaborative filtering"
    breif="Supercharge your project with new frameworks and libraries."
    client:load
  >
    <CollaborativeFiltering/>
  </Card>

  <Card
    title="Content-based filtering"
    breif="Supercharge your project with new frameworks and libraries."
    client:load
  >
    <ContentBasedFiltering/>
  </Card>

  <Card
    title="Cost function"
    breif="Explore a galaxy of community-built starter themes."
    client:load
  >
    <CostFunction/>
  </Card>

  <Card
    title="F-measure"
    breif="Come say hi to our amazing Discord community. ❤️"
    client:load
  >
    <FMeasure/>
  </Card>

  <Card
    title="Hyperparameter"
    breif="Learn how Astro works and explore the official API docs."
    client:load
  >
    <Hyperparameter/>
  </Card>

  <Card
    title="K-nearest neighbour (k-NN) algorithm"
    breif="Learn how Astro works and explore the official API docs."
    client:load
  >
    <KNN/>
  </Card>

  <Card
    title="Matrix factorization"
    breif="Supercharge your project with new frameworks and libraries."
    client:load
  >
    <MatrixFactorisation/>
  </Card>

  <Card
    title="Mean absolute error (MAE)"
    breif="Supercharge your project with new frameworks and libraries."
    client:load
  >
    <MeanAbsoluteError/>
  </Card>

  <Card
    title="Overfitting"
    breif="Supercharge your project with new frameworks and libraries."
    client:load
  >
    <Overfitting/>
  </Card>

  <Card
    title="Popularity bias"
    breif="Explore a galaxy of community-built starter themes."
    client:load
  >
    <PopularityBias/>
  </Card>

  <Card
    title="Precision"
    breif="Come say hi to our amazing Discord community. ❤️"
    client:load
  >
    <Precision/>
  </Card>

  <Card
    title="Recall"
    breif="Learn how Astro works and explore the official API docs."
    client:load
  >
    <Recall/>
  </Card>

  <Card
    title="Reinforcement learning"
    breif="Supercharge your project with new frameworks and libraries."
    client:load
  >
    <ReinforcementLearning/>
  </Card>

  <Card
    title="Right to anonymity"
    breif="Supercharge your project with new frameworks and libraries."
    client:load
  >
    <RightToAnonymity/>
  </Card>

  <Card
    title="Right to privacy"
    breif="Supercharge your project with new frameworks and libraries."
    client:load
  >
    <RightToPrivacy/>
  </Card>

  <Card
    title="Root-mean-square error (RMSE)"
    breif="Explore a galaxy of community-built starter themes."
    client:load
  >
    <RMSE/>
  </Card>

  <Card
    title="Stochastic gradient descent"
    breif="Come say hi to our amazing Discord community. ❤️"
    client:load
  >
    <StochasticGradientDescent/>
  </Card>

  <Card
    title="Training data"
    breif="Come say hi to our amazing Discord community. ❤️"
    client:load
  >
    <TrainingData/>
  </Card>
</div>
